html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    color: #ffff;
    font: 20px Rockwell, "Courier Bold", Georgia, serif;
    font-weight: bold;
    background-color: #f7f6d3;
    padding: 1em;
}

body,
a {
    color: #fff;
}

ul {
    list-style: none;
    padding-left: 0;
}

header,
nav,
article,
aside,
footer {
    padding: 1.2em;
    background-color: #3b9ae1;
    border-radius: 0.5em;
    margin: 5px;
}

header {
    background: #3b9ae1
}

nav {
    background: #f6be00
}

article {
    background: #e64134
}

aside {
    background: #eb70b1
}

footer {
    background: #0f1a5f
}

main {
    display: flex;
}

main>* {
    flex: 1;
    /*flex grow*/
    flex-flow: row wrap;
}

nav {
    order: 1;
    /*pořadí*/
}

article {
    order: 2;
    flex: 3, 0, 100%/*grow, shrink, flex-basis*/
}

aside {
    order: 3;
}

@media (max-width: 800px) {
    article {
        order: 1;
        flex: 1 100%;
    }
    nav {
        order: 2;
    }
    aside {
        order: 3;
    }
}

@media (max-width: 600px) {
    nav,
    aside {
        order: 1;
        flex: 1 100%;
    }
}